body {
    margin: 0;
    padding: 0;
}

.default {
    cursor: default;
}

.crosshair {
    cursor: crosshair;
}

.help {
    cursor: help;
}

.move {
    cursor: move;
}

.pointer {
    cursor: pointer;
}

.progress {
    cursor: progress;
}

.text {
    cursor: text;
}

.wait {
    cursor: wait;
}

.n-resize {
    cursor: n-resize;
}

.ne-resize {
    cursor: ne-resize;
}

.e-resize {
    cursor: e-resize;
}

.se-resize {
    cursor: se-resize;
}

.s-resize {
    cursor: s-resize;
}

.sw-resize {
    cursor: sw-resize;
}

.w-resize {
    cursor: w-resize;
}

.nw-resize {
    cursor: nw-resize;
}