.span {
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.active {
  background-color: #64b5f6;
}

.span:hover {
  background-color: #1e88e5;
}