body {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    font-stretch: expanded;
    font-style: oblique;
    font-variant: small-caps;
    font-weight: 900;
}