/* Large desktops and laptops */
@media (min-width: 1300px) {
  .main__section-preview {
    display: flex;
    padding-top: 70px;
    height: 100vh;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1299px) {
  .main__section-preview {
    display: flex;
    padding-top: 70px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .main__section-preview {
    display: flex;
    padding-top: 70px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .main__section-preview {
    display: flex;
    padding-top: 70px;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .main__section-preview {
    display: flex;
    padding-top: 70px;
  }
}

/* Iphone 5 */
@media (max-width: 320px) {
  .main__section-preview {
    display: flex;
    padding-top: 70px;
  }
}
