body {
    margin: 0;
    padding: 0;
}

#block {
    background-color: blueviolet;
    margin: 20px auto;
    outline-style: outset;
    outline-color: #e2700b;
    outline-width: thick;
    outline-offset: -30px; 
    width: 400px;
    height: 400px;
}