.body__background {
  height: 0;
  position: fixed;
  width: 0;
  z-index: 1;
}

.change-bg {
  height: 775px;
  top: 50px;
  -webkit-transform: translate(-60%, -30%);
  transform: translate(-60%, -30%);
  width: 775px;
}