.main__section_projects {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: auto 200px 200px;
  gap: 150px;
  grid-template-areas:
    "A A"
    "B B"
    "B B";
  justify-content: center;
  justify-items: center;
  margin-bottom: 100px;
}
