.input[type="checkbox"] {
  appearance: none;
  background: #eeeeee;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.input:checked[type="checkbox"] {
  background: #64b5f6;
}

.input:checked[type="checkbox"]:before {
  background: #1e88e5;
}

.input[type="checkbox"]:before {
  content: "";
  cursor: pointer;
  border-radius: 20px;
  background: #eeeeee;
  transition: 0.4s;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
