* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body, html {
	width: 100%;
	height: 100%;
	color: white;
	background-color: black;
	text-align: center;
}

.mainInner {
	height: 100vh;
	line-height: 1;
	font-family: 'Bungee Hairline', cursive;
	font-size: 50px;
	background-image: url(..//images/background.jpg);
	background-position: right;
	background-size: contain;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.asideInner {
	position: fixed;
	text-align: left;
	font-weight: bolder;
	line-height: 1.5;
}

.welcomeUserName {
	padding-top: 40vh;
}

.aboutMeInner {
	background-color: white;
	font-family: 'Special Elite', cursive;
	height: 27.6vh;
	font-size: 35px;
	color: black;
}

a, a:visited, a:hover {
	text-decoration: none;
	color: white;
	text-shadow: black 0 0 3px;
}

.projectsInner {
	background-color: white;
	font-family: 'Special Elite', cursive;
	height: 27.6vh;
	color: black;
	font-size: 35px;
}

.contactsInner {
	background-color: white;
	height: 12.6vh;
	color: black;
	font-family: 'Special Elite', cursive;
	font-size: 35px;
}

.contactsLinks {
	background-color: white;
}

.footerInner {
	background-color: white;
	color: black;
}

.ico {
	width: 10%;
	padding: 50px;
}

.ico:hover {
	cursor: pointer;
	background: radial-gradient(circle, rgba(137, 196, 244, 1) 0%, rgba(255, 255, 255, 1) 70%);
}