body {
	margin: 0;
	padding: 0;
}

.container {
	width: 1170px;
	padding: 0 10px;
	margin: 0 auto;
	border: 1px solid red;
}

.logo {
	width: 60px;
	height: 60px;
	background: white;
	border-radius: 50%;
	margin-top: 63px;
	margin-left: 9px;
}

nav {
	margin-top: -60px;
	display: block;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.headerNav ul {
	display: flex;
	justify-content: flex-end;
}

.headerNav a {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 10pt;
	font-weight: 400;
	display: block;
	color: white;
	margin-left: 43px;
	margin-right: 9px;
}

.headerNav a:hover {
	background: white;
	color: black;
}

.mainBlog {
	background-color: black;
	width: 100%;
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url(../img/personalPhoto.png);
	margin-right: 40px;
	height: 103.5vh;
	clip-path: polygon(0 0, 100% 0%, 100% 91%, 0% 100%);
}

.mainBlog h2 {
	margin-top: 273px;
	font-weight: 600;
	font-size: 15pt;
	margin-left: 7px;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.mainBlog h1 {
	margin-top: -5px;
	margin-left: 8px;
	font-size: 51.1pt;
	font-weight: 900;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.mainBlog p {
	line-height: 25px;
	margin-top: -22px;
	margin-left: 10px;
	font-size: 11pt;
	font-weight: 400;
	color: #aaaaaa;
	font-family: 'Lato', sans-serif;
}

.mainBlog button {
	font-size: 15pt;
	font-weight: 700;
	color: black;
	font-family: 'Montserrat', sans-serif;
}

.mainBlog button:hover {
	color: white;
	text-decoration: underline;
	background-color: transparent;
}

.portfolioBlog h3 {
	margin-top: 60px;
	letter-spacing: -1.25px;
	font-size: 38pt;
	text-align: center;
	font-weight: 800;
	color: black;
	font-family: 'Montserrat', sans-serif;
}

.listOfProjects {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.aboutMeBlog {
	margin-top: 200px;
	clip-path: polygon(0 0, 100% 10%, 100% 91%, 0% 100%);
	background-color: red; /* #f8f8f8; */
	width: 100vw;
	height: 400px;
}