* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}     

html, body {
    height: 100%;
    color: white;
    background-color: black;
    text-align: center;
}

.bodyInner {
    height: 100vh;
    line-height: 1;
    font-weight: bold;
    font-family: 'Bungee Hairline', cursive;
    font-size: 50px;
    background-image: url(..//images/background.jpg);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0; 
    position: relative;
}

.headerInner {
    font-size: 50px;
    position: fixed;
    z-index: 1;
    text-align: left;
    margin-top: 50vh;
    margin-right: 100px; 
}

.aboutMeInner {
    font-family: 'Special Elite', cursive;
    height: 33.3vh;
    font-size: 35px;
}

.worksInner {
    font-family: 'Special Elite', cursive;
    height: 33.3vh;
    font-size: 35px;
}

.contactsInner {
    font-family: 'Special Elite', cursive;
    height: 33.3vh;
    font-size: 35px;
}

.ico {
    width: 5%;
    border: 3px solid #53da3f;
}

.ico:hover {
    border: 3px solid #f26522;
    cursor: pointer;
}