body {
    margin: 0;
    padding: 0;
}

.attachment_scroll {
    background-attachment: scroll;
    background-color: #aadbec;
    background-image: url(../background/Captain_America.png);
    background-origin: border-box;
    background-position: top left;
    background-repeat: no-repeat;
    border: 10px dotted green;
    height: 1000px;
    width: 1000px;
}

.attachment_fixed {
    background-attachment: fixed;
    background-color: #aadbec;
    background-image: url(../background/Captain_America.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 10px dotted red;
    height: 1000px;
    width: 1000px;
}