/* Large desktops and laptops */
@media (max-width: 2560px) {
  .main__section-contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    width: 80%;
  }
}

/* Landscape tablets and medium desktops */
@media (max-width: 1440px) {
  .main__section-contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
  }
}

/* Portrait tablets and small desktops */
@media (max-width: 1024px) {
  .main__section-contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
  .main__section-contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
  }
}

/* Portrait phones and smaller */
@media (max-width: 425px) {
  .main__section-contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
  }
}

/* Iphone 5 */
@media (max-width: 375px) {
  .main__section-contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
  }
}
