.header__switcher {
  height: 30px;
  margin-left: 40px;
  position: relative;
  width: 70px;
}

.header__switcher:before {
  height: 30px;
  left: 0;
  position: absolute;
  width: 30px;
}

.header__switcher:checked:before {
  left: 40px;
}