.switcher {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #eeeeee;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 5px #00000033;
  box-shadow: inset 0 0 5px #00000033;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.switcher:before {
  background: #eeeeee;
  content: "";
  cursor: pointer;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.switcher:checked {
  background: #64b5f6;
}

.switcher:checked:before {
  background: #1e88e5;
}