/* Large desktops and laptops */
@media (max-width: 2560px) {
  .section-skills__slide {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
}

/* Portrait phones and smaller */
@media (max-width: 425px) {
  .section-skills__slide {
    display: flex;
    flex-direction: column;
  }
}