/* Large desktops and laptops */
@media (max-width: 2560px) {
  .section-skills__slide {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
}

/* Landscape tablets and medium desktops */
@media (max-width: 1440px) {
  .section-skills__slide {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
}

/* Portrait tablets and small desktops */
@media (max-width: 1024px) {
  .section-skills__slide {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
  .section-skills__slide {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
}

/* Portrait phones and smaller */
@media (max-width: 425px) {
  .section-skills__slide {
    display: flex;
    flex-direction: column;
  }
}

/* Iphone 5 */
@media (max-width: 375px) {
  .section-skills__slide {
    display: flex;
    flex-direction: column;
  }
}