 /* Large desktops and laptops */
 @media (max-width: 2560px) {
   .body__map {
     height: 1000px;
     width: 1000px;
   }
 }

 /* Landscape tablets and medium desktops */
 @media (max-width: 1440px) {
   .body__map {
     height: 900px;
     width: 900px;
   }
 }

 /* Portrait tablets and small desktops */
 @media (max-width: 1024px) {
   .body__map {
     height: 700px;
     width: 700px;
   }
 }

 /* Landscape phones and portrait tablets */
 @media (max-width: 768px) {
   .body__map {
     height: 400px;
     width: 400px;
   }
 }

 /* Portrait phones and smaller */
 @media (max-width: 425px) {
   .body__map {
     height: 300px;
     width: 300px;
   }
 }

 /* Iphone 5 */
 @media (max-width: 375px) {
   .body__map {
     height: 300px;
     width: 300px;
   }
 }