/* Фильтр разработан MultiplyByZer0 - https://stackoverflow.com/questions/42966641/how-to-transform-black-into-any-given-color-using-only-css-filters/43960991#43960991 */
.anchor__image_icon_github {
  transition: 0.3s;
}

.anchor__image_icon_github:hover {
  filter: invert(33%) sepia(82%) saturate(358%) hue-rotate(222deg) brightness(88%) contrast(83%);
  transition: 0.3s;
}