.bar_position_bottom {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.change .bar_position_bottom {
  -webkit-transform: translateY(-6px) rotateZ(45deg);
          transform: translateY(-6px) rotateZ(45deg);
}