.intro-content__image {
  border-radius: 20px;
}

/* Large desktops and laptops */
@media (max-width: 2560px) {
  .intro-content__image {
    display: block;
    height: calc(961px - 300px);
    margin: 100px;
    width: calc(826px - 300px);
  }
}

/* Landscape tablets and medium desktops */
@media (max-width: 1440px) {
  .intro-content__image {
    display: none;
  }
}

/* Portrait tablets and small desktops */
@media (max-width: 1024px) {
  .intro-content__image {
    display: none;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 768px) {
  .intro-content__image {
    display: none;
  }
}

/* Portrait phones and smaller */
@media (max-width: 425px) {
  .intro-content__image {
    display: none;
  }
}

/* Iphone 5 */
@media (max-width: 375px) {
  .intro-content__image {
    display: none;
  }
}