.switcher__input[type="checkbox"] {
  height: 30px;
  position: relative;
  width: 70px;
}

.switcher__input[type="checkbox"]:before {
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px;
}

.switcher__input:checked[type="checkbox"]:before {
  left: 40px;
}
